.container {
  background-color: #838484;
  color: #d1d2d4;
}

.main {
  background: url("/logo.png") no-repeat fixed center;
  background-size: contain;
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: #838484a0;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  margin: 0;
  font-size: 1.5rem;
}
